/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
.login-container {
  background-color: white;  /* White background for the card */
  border-radius: 8px;  /* Rounded corners */
  padding: 30px;  /* Padding for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Light shadow for depth */
}
