/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
.bg-image {
  background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148817572.jpg?t=st=1735766958~exp=1735770558~hmac=b6c1bc693095ddee6fbebc854ab28426d226b6f8cb80936c7110590833441254&w=996');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.login-container {
  background-color: white;  /* White background for the card */
  border-radius: 8px;  /* Rounded corners */
  padding: 30px;  /* Padding for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Light shadow for depth */
}
